body {
    background-color:#00C9CC;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

/* Navbar container */
.navbar {
    overflow: hidden;
    background-color:#391659;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 15px;
    flex-wrap: wrap;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: right;
    font-size: ;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: right;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; 
    margin: 0; 
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color:#2A5EA8;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  
  .dropdown-content a:hover {
    background-color:#2A5EA8;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }


  .maincontent {
    width: 1080px;
    padding: 10px;
    display: flex;
    margin-left: 150px;
    align-items: center;

  }
  .myprojects {
    width: 600px;
    display: flex;
    flex-flow: column;
    margin-left: 150px;
    margin-top: 10px;

  }
  .contactme li  {
  padding:10px;
  text-align:center;
  list-style: none;
   
  }
.contactme h2  {
  text-align: center;
}

  #lakyn {
  width: 300px;
  height: 300px;
 align-items: center;
}


#lakyn2 {
  width: 560px;
  height: 400px;
  margin-left: 550px;

  
}

  
#footer {
  padding-top: 20px;
  padding: 20px;
  text-align: center;
  
  }
  